node_modules/
build/

node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json


# Hardhat files

# TypeChain files

# solidity-coverage files


# Hardhat files

# TypeChain files

# solidity-coverage files
/abi/
